:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
/* Body */

body {
  color: var(--text);
  background-color: var(--white-background);
  font-family: 'Roboto', sans-serif; 
  font-weight: medium;
  font-size: 20px;
  letter-spacing: 0.02em;
  }

/* .page {
  background-color: var(--white-background);
  color: var(--dark);
} */
.section-list,
.list {
  list-style: none;
}
/* Header */
.header {
  background-color: var(--white-background);
  color: var(--dark);
 }
/* .nav {
  text-decoration: none;
} */
.logo.link {
  color: var(--primary-brand);
  /* Studio */
width: 71px;
height: 21px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17em;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}
.logo.link {
  text-decoration: none;
}

.studio {
  color: var(--dark);
  width: 44px;
height: 21px;

font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
}

/* Site nav */

.address {
  font-style: normal;
}

.site-nav, .nav-link {
  color: var(--dark);
  /* Studio */
letter-spacing: 0.02em;
text-decoration: none;
width: 48px;
height: 24px;

/* Body Medium */

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}

.site-nav, .nav-link:hover,
.site-nav, .nav-link:focus {
  color: var(--pressed-state);

}

/* .site-nav .link.current {
  color: red;
} */

.auth-nav .info,
.auth-nav .tel {
  color: var(--text);


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}

.auth-nav .info:hover,
.auth-nav .info:focus {
  color: var(--pressed-state);
}

/* Hero */
.hero {
  width: 1440px;
  height: 600px;
  background-color: var(--hero-background);
}

.hero-title {
  color: var(--white-background);
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07em;
letter-spacing: 0.02em;
text-align: center;
}
.hero-button {
  background-color: var(--primary-brand);
  color: var(--white-background);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* Sections */
.section {
  color: var(--dark);
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
}

.section-one {  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12em;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);}


.section-title {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11em;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--dark);
}

.statement {
  color: var(--dark); 
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2em;
letter-spacing: 0.02em;
}
.section .list, .statement-description {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5em;
letter-spacing: 0.02em;
color: var(--text);
background-color: var(--white-background);
}
/* Our team section */
.our-team {
  background-color: var(--light);
}

.staff-name {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2em;
text-align: center;
letter-spacing: 0.02em;
background-color: var(--white-background);
color: var(--dark);
}
.staff-role, .team {
  color: var(--text);
  background-color: var(--white-background);
}

/* Portfolio Page */

/* Navigation filter buttons */

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);

}

/* Portfolio Main */

.portfolio-card, .list{
 width: 1128px;
height: 420px;
left: 156px;
top: 288px;
text-decoration: none;
}

.portfolio-type {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--dark);
}

.portfolio-platform {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
color: var(--text);
}
/* Footer */

.footer, .footer-text,
.footer-studio {
  width: 1440px;
  height: 312px;
  background-color: var(--dark);
  color: var(--light);
  
}
.footer-logo.link {
  /* Studio */
color: var(--primary-brand);
  width: 71px;
  height: 21px;
  
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
text-decoration: none;
}

.link {
  text-decoration: none;
}