:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
/* Body */
.page {
  background-color: var(--white-background);
  color: var(--dark);
}
.list {
  list-style: none;
}
/* Header */
.header {
  background-color: var(--white-background);
  color: var(--dark);
}
.nav {
}
.logo {
  color: var(--dark);
}
.web {
  color: var(--primary-brand);
}

/* Site nav */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--dark);
}

.auth-nav .mail,
.auth-nav .tel {
  color: var(--text);
}

.auth-nav .mail:hover,
.auth-nav .mail:focus,
.auth-nav .mail:active {
  color: var(--pressed-state);
}

/* Hero */
.hero {
  width: 1440px;
  height: 600px;
  background-color: var(--hero-background);
  text-align: center;
}

.hero-title {
  color: var(--white-background);
}
.hero-button {
  background-color: var(--primary-brand);
  color: var(--white-background);
}
/* Sections */
.section {
  color: var(--dark);
}
.section-title {
  color: var(--text);
}

/* Our team section */
.our-team {
  background-color: var(--light);
}

/* Footer */

.footer,
.footer a {
  width: 1440px;
  height: 312px;
  background-color: var(--dark);
  color: var(--light);
}
